body {
    margin: 0;
  }
  
  .main {
    height: auto;
    background-image:
  url(https://swimsuit.si.com/.image/t_share/MjAxMjk0NDQ5ODA2OTQzNzcx/kendall.jpg);
    color: white;
  font-family: monospace;
  }
  
  .container {
    height:auto;
  }
  
  
  .container .top {
    border: 1px solid pink;
    min-height: 150px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGUHDAb1t5Cm6iWBovMnhSA9W7YP7JvgNcIg&usqp=CAU);
    padding-left: 25px;
    padding-right: 25px;
  }
  
  
  
  .container .middle{
    height: auto;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    }
  
  .container .bottom{
    height: auto;
    padding-left: 25px;
    padding-right: 25px;
    }
  
  .avatar{
    height: 200px;
    width:200px;
    background-image: url(https://static.independent.co.uk/2023/09/09/10/GettyImages-1340145827.jpg);
    background-position: center;
    background-size: cover;  
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -100px;
  }
  
  .name{
    color: white;
    font-size: 50px;
  }
  
  .profession{
    color: white;
    font-size: 35px;
    padding-bottom: 50px;
    border-bottom: solid white;
  
  }
  .menu-items{
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }
  
  .menu-item {
    text-decoration: none;
    color: white;
  }
  .footer{
    padding-top: 45px;
    padding-bottom: 130px;
    background: rgba(147, 147, 151, 0.973);
    color: white;
}
.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.footer-col{
    max-width:350px;
    flex-grow: 1;
}
.footer-copyright{
    color: rgb(155, 237, 240);
    line-height: 1.3;
}
.footer-copyright-name{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;

}
.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}

.footer-icons p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    
}
.footer-icons-row{
    display: flex;
    align-items: center;

}
.footer-icons-row > * + * {
    margin-left: 30px;
}

.footer-button{
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;

    border: 3px solid white;
    border-radius: 50px;

    color: white;
    font-weight:700;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in;
}
.footer-button:hover{
    background-color: white;
    color: rgba(168, 168, 173, 0.973);
}
.footer-contacts p {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.3;
    color:rgb(155, 237, 240);
}
img {
    max-width: 100%;
}